style-guide/data/

*.auto.overrides
*.auto.variables
*.auto.jsx

__generated/
styles/__generated/
coverage/

/build
.gradle
npm-debug.log
node_modules/
/dist
.idea/
*.iml
nexusPromote/build/
.DS_Store
.bundle
*json.404
**/reports/**
output/
.sass-cache
/gen
nightwatch-screenshots/
test/e2e/screenshots/
test/e2e/diffs
test/e2e/snapshots/
bin/mweb-fill/html/
.sonar
selenium-output.log
